.cls-form {
    // display: inline-flex;
    // gap: 20px;
    // margin-bottom: 10px;
    // flex-wrap: wrap;
    // margin-bottom: 30px;

    .cls-field {
        gap: 10px;
        display: flex;
    }

    button {
        color: #fff !important;
        background: #a094ff !important;
        display: flex;
        align-items: center;
        font-size: 12px;
    }
}
