<div class="cls-form" [formGroup]="formUser">
  <h3>
    {{ modeForm == "adicion" ? "Nuevo usuario" : "Edición de usuario" }}
  </h3>

  <div class="cls-field">
    <mat-form-field appearance="outline">
      <mat-label>Nombre:</mat-label>
      <input matInput formControlName="nombre" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Teléfono:</mat-label>
      <input matInput formControlName="telefono" />
    </mat-form-field>
  </div>

  <div class="cls-field">
    <mat-form-field appearance="outline">
      <mat-label>Fecha de nacimiento:</mat-label>
      <input matInput type="date" formControlName="fechaNacimiento" />
    </mat-form-field>

    <!-- <input type="date" formControlName="fechaNacimiento" /> -->

    <mat-form-field appearance="outline">
      <mat-label>Tipo:</mat-label>
      <mat-select formControlName="tipoUsuario">
        <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">{{
          tipo.text
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button
    *ngIf="modeForm == 'adicion'"
    (click)="saveUser()"
    style="color: #fff !important"
    mat-button
    color="primary"
  >
    Agregar
  </button>

  <button
    *ngIf="modeForm == 'edicion'"
    (click)="updateUser()"
    style="color: #fff !important"
    mat-button
    color="primary"
  >
    Guardar
  </button>
</div>
