<div class="cls-content-page">
  <div
    style="
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
    "
  >
    <mat-form-field class="example-form-field" appearance="outline">
      <mat-label>Buscar</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="value"
        (focus)="focusBuscar()"
        (blur)="blurBuscar()"
      />
      <button
        *ngIf="value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="value = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- <editor-nombre
      [nombre]="nombreUsuarioSeleccionado"
      (salidaCambioNombre)="cambiarNombreUsuario($event)"
    ></editor-nombre> -->
  </div>

  <div
    style="
      display: inline-flex;
      gap: 10px;
      margin-bottom: 10px;
      flex-wrap: wrap;
    "
    [formGroup]="formUser"
  >
    <div>
      <label for="">Nombre</label>
      <input type="text" formControlName="nombre" />
    </div>

    <!-- <div>
      <label for="">Fecha de nacimiento</label>
      <input type="text" formControlName="fechaNacimiento" />
    </div> -->

    <div>
      <label for="">Teléfono</label>
      <input type="text" formControlName="telefono" />
    </div>

    <div>
      <label for="">Tipo</label>
      <input type="text" formControlName="tipoUsuario" />
    </div>

    <button
      (click)="saveUser()"
      style="color: #fff !important"
      mat-button
      color="primary"
    >
      Agregar
    </button>
  </div>

  <div>
    <table mat-table [dataSource]="datos" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef>Teléfono</th>
        <td mat-cell *matCellDef="let element">
          {{ element.telefono }}
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="tipoUsuario">
        <th mat-header-cell *matHeaderCellDef>Tipo</th>
        <td mat-cell *matCellDef="let element">{{ element.tipoUsuario }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="fechaNacimiento">
        <th mat-header-cell *matHeaderCellDef>Fecha nacimiento</th>
        <td mat-cell *matCellDef="let element">
          {{ element.fechaNacimiento }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
